<div class="adminboard d-flex flex-wrap mt-5">
    {{!-- <div class="adminboard__panel row flex-grow-0">
        <div class="admin-filters container" style="font-family:monospace; width: 100%">
            <div class="bg-dark p-3 mb-2" style="border-radius: 10px">

            </div>

        </div>
    </div> --}}
    <div class="w-100 mb-3">
        <form class="d-flex w-25" role="search" action="/admin" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" {{#if
                search}} value="{{search}}" autofocus {{/if}}>
            <button class="btn btn-success btn-sm" type="submit">Search</button>
        </form>
    </div>
    <div class="row d-flex flex-row justify-content-center flex-grow-1">
        <div class="mb-3">
            {{> messagesBlock}}
        </div>
        <div class="d-flex justify-content-center flex-wrap" id="adminboard">
            <table class="table table-striped table-dark text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">IsActive</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if users}}
                    {{#each users}}
                    <tr>
                        <th scope="row">{{increment @index}}</th>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td class="d-flex justify-content-center">
                            <div class="dropdown">
                                <button class="btn btn-success active btn-sm dropdown-toggle users-role-button"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 10rem;">
                                    {{role}}
                                </button>
                                <ul class="dropdown-menu bg-dark fw-bold" style="line-height: .75rem; cursor: pointer;">
                                    {{#if (equal role "ROLE_USER")}} <li><a class="dropdown-item"
                                            href="/admin/users/{{id}}/role?role=ROLE_ADMIN&_method=PUT">ROLE_ADMIN</a>
                                    </li>
                                    {{else}}
                                    <li><a class="dropdown-item"
                                            href="/admin/users/{{id}}/role?role=ROLE_USER&_method=PUT">ROLE_USER</a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                NO
                                <div class="form-check form-switch ms-1">
                                    <input onclick="return false" class="form-check-input flexIsActive" type="checkbox"
                                        id="flexIsActive-{{id}}" {{#if isActive}} checked {{/if}} data-bs-toggle="modal"
                                        data-bs-target="#confirmationUserModal-{{id}}" data-bs-dismiss="modal">
                                    <label class="form-check-label" for="flexIsActive-{{id}}">YES</label>
                                </div>
                            </div>
                        </td>
                    </tr>

                    {{> confirmationUserModal}}
                    {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>