<div class="modal fade" id="taskDetailsModal-{{id}}" tabindex="-1" aria-labelledby="taskDetailsModalLabel"
    aria-hidden="true" style="overflow-y:scroll;">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="task-details" class="card card-margin">
                <div class="card-header no-border">
                    <div class="action-icons">
                        <div class="flex-grow-1">
                            <button class="bi bi-slash-circle bg-dark text-{{color}} fw-bold" style="border:
                                    none; border-radius: 5px; padding: 5px 12px; margin-right: 5px"
                                data-bs-toggle="modal" data-bs-target="#confirmationMoveModal-{{id}}"
                                data-bs-dismiss="modal"></button>
                        </div>
                        {{#if delete}}
                        <button class="bi bi-trash bg-dark text-{{color}}" style="border:
                                    none; border-radius: 5px; padding: 5px 12px; margin-right: 5px"
                            data-bs-toggle="modal" data-bs-target="#confirmationDeleteModal-{{id}}"
                            data-bs-dismiss="modal"></button>
                        {{/if}}
                        {{#if edit}}
                        <button class="bi bi-pencil bg-dark text-{{this.color}}" style="border:
                                    none; border-radius: 5px; padding: 5px 10px;" data-bs-toggle="modal"
                            data-bs-target="#editTaskModal-{{id}}" data-bs-dismiss="modal"></button>
                        {{/if}}
                    </div>

                    <h6 class=" card-title text-monospace" style="font-family:monospace;">
                        <span>Making by</span>
                        <span class="text-{{color}} bg-dark px-2 py-1 ms-1"
                            style="border-radius: 10px;">{{Doer.username}}</span>
                    </h6>
                </div>
                <div class="card-body pt-2">
                    <div class="task-details">
                        <div class="task-details-title-wrapper">
                            <div class="task-details-date-primary">
                                <span class="task-details-date-day">{{ getDayFromDate
                                    createdAt}}</span>
                                <span class="task-details-date-month">{{ getMonthFromDate
                                    createdAt}}</span>
                            </div>
                            <div class="task-details-title">
                                <span class="task-details-pro-title">{{title}}</span>
                                <span class="task-details-status text-monospace" style="font-family:monospace;">value:
                                    {{value}}
                                </span>
                                <span class="task-details-status text-monospace" style="font-family:monospace;">status:
                                    <span class="text-{{color}} fw-bold bg-dark px-1"
                                        style="border-radius: 4px;">{{status}}</span>
                                </span>

                            </div>
                            <div class="task-details-creator text-monospace" style="font-family:monospace;">
                                <small class="text-muted">created by </small>
                                <small class="text-muted">{{Owner.username}}</small>
                            </div>
                        </div>
                        <div class="task-details-description">
                            {{description}}
                        </div>
                        {{#if Associated}}
                        <div class="task-details-associated mt-3">
                            <span>Associated with:</span>
                            <span>{{Associated.title}}</span>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>