<form novalidate autocomplete="false" {{#if id}} action="/{{id}}?_method=PUT" method="POST" {{else}} action="/new"
    method="POST" {{/if}}>
    <div class="modal-body">
        <div class="md-form mb-2">
            <input type="text" id="title" class="form-control" name="title" {{#if title}} value="{{ title}}" {{else}}
                {{#if invalidTask}} value="{{invalidTask.title}}" {{/if}} {{/if}}>
            <label for="title">Task title</label>
        </div>
        <div class="md-form mb-2">
            <input type="number" min="0" max="10" id="value" class="form-control" name="value" {{#if value}}
                value="{{ value}}" {{else}} {{#if invalidTask}} value="{{invalidTask.value}}" {{/if}} value="0" {{/if}}>
            <label for="value">Value</label>
        </div>
        <div class="md-form mb-2">
            <select class="form-select" id="associated" name="associatedId">
                <option selected></option>
                {{#each tasks}}
                <option value={{id}}>{{title}}</option>
                {{/each}}
            </select>
            <label for="associated">Associated with</label>
        </div>
        <div class="md-form mb-2">
            <select class="form-select" id="doer" name="doerId">
                <option selected {{#if Doer.username}} value="{{Doer.id}}" {{/if}}>
                    {{#if Doer.username}} {{Doer.username}} {{/if}}
                </option>
                {{#each users}}
                <option value={{id}}>{{username}}</option>
                {{/each}}
            </select>
            <label for="doer">Assign to</label>
        </div>
        {{#if isProcessed}}
        <div class="md-form mb-2">
            <select class="form-select" id="isProcessed" name="isProcessed">
                <option selected {{#if isProcessed}} value="{{isProcessed}}" {{/if}}>
                    {{#if isProcessed}}
                    {{#if (equal isProcessed true) }}
                    PROCESSED
                    {{else}}
                    UNPROCESSED
                    {{/if}}
                    {{/if}}
                </option>
                <option {{#if isProcessed}} {{#if (equal isProcessed true) }} value="" {{else}} value="{{true}}" {{/if}}
                    {{/if}}>
                    {{#if isProcessed}}
                    {{#if (equal isProcessed true) }}
                    UNPROCESSED
                    {{else}}
                    PROCESSED
                    {{/if}}
                    {{/if}}
                </option>
            </select>
            <label for="doer">State</label>
        </div>
        {{/if}}
        <div class="md-form mb-2">
            {{#if status}}
            <select class="form-select" id="status" name="status">
                <option selected {{#if status}} value="{{status}}" {{/if}}>
                    {{#if status}} {{status}} {{/if}}
                </option>
                {{#each statuses}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <label for=" status">Status</label>

            {{else}}
            <input type="text" id="status" value="TO DO" class="form-control validate" disabled name="status">
            <label for="status">Status</label>
            {{/if}}

        </div>

        <div class="md-form">
            <textarea type="text" id="description" class="md-textarea form-control" rows="2"
                name="description"> {{#if
                description}} {{ description}} {{else}} {{#if invalidTask}} {{invalidTask.description}} {{/if}} {{/if}}</textarea>
            <label for="description">Description</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary {{#if invalidTask }} me-1 {{/if}}"
            data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>